
body {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  }



a {

  text-decoration: none;
}


@media only screen and (max-width: 480px) {
  img {
  width: 100%;
  }
  }

@media only screen and (max-width: 768px) {
    img {
    width: 100%;
    }
    }