
@media screen and (min-width: 320px) {


  
/* body */

body {
  background-color: #e5f4fd;
  }


/* top */

#Header {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;
  min-width: 90%;

}


/* flex */

.flex {
  
  display: flex;
  align-items: baseline;
  flex-direction: column;
  
}

/* Heading */

.flex h1 {


  font-size: 16px;
  text-shadow: 5px 5px 5px rgb(251, 182, 232);
  color:lightskyblue;




}


/* logo */

.logo {

  mix-blend-mode: multiply;

}

/* Navlist */

ul#navlist {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;

  


}

ul#navlist li {

  display:flex;


}

ul#navlist a {

  margin-top: 5px;
  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

.navheader {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;
  min-width: 90%;
  



}

ul#navlistpages {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
  min-width: 90%;

  


}

ul#navlistpages li {

  display:flex;



}

ul#navlistpages a {

  margin-top: 5px;
  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}



/* blocks of text */

.posts {

  min-width: 90%;
  text-align: center;

}



.entries {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  text-align: left;
  min-width: 90%;
  
  

}


.castle {

  width: 60%;



}

.example-one-img {


  width: 60%;


}

.example-two-img {


  width: 60%;


}


.example-three-img {


  width: 60%;




}




.example-four-img {


  width: 60%;



}



.coreone {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.coretwo {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.corethree {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.Astrology {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.compass {
  
  width: 60%;
  
}


.technicalone {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.technicaltwo {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}




.Tarot {

  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: double;
  border-radius: 30px;
  background-color:honeydew;
  

}

.spread {

  width: 60%;


}




.Achiever {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: inset;
  border-radius: 30px;
  background-color:honeydew;
 

}


.number {

  width: 60%;


}




.Evidence {

  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: ridge;
  border-radius: 30px;
  background-color:honeydew;
 
 



}


/* images */



/* text */

p {


font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


h1 {

  font-family: fantasy;


}



h2 h3 h4 {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

li {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

span.scorpio {

  color: cadetblue;

}

.frame {

  text-align: center;
  padding: 20px 20px 20px 20px;


}

}























@media screen and (min-width: 780px) {

 
/* body */

body {
  background-color: #e5f4fd;
  }


/* top */

#Header {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;
  min-width: 90%;

}


/* flex */

.flex {
  
  display: flex;
  align-items: baseline;
  flex-direction: column;
  
}

/* Heading */

.flex h1 {


  font-size: 16px;
  text-shadow: 5px 5px 5px rgb(251, 182, 232);
  color:lightskyblue;




}


/* logo */

.logo {

  mix-blend-mode: multiply;

}

/* Navlist */

ul#navlist {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
  min-width: 300px;
  


}

ul#navlist li {

  display:flex;


}

ul#navlist a {

  margin-top: 5px;
  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}



.navheader {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;
  min-width: 90%;

  
  



}

ul#navlistpages {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
  min-width: 90%;
  


}

ul#navlistpages li {

  display:flex;


}

ul#navlistpages a {

  margin-top: 5px;
  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}






/* blocks of text */

.posts {

  min-width: 600px;
  text-align: center;
  min-width: 90%;

}

.entries {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  text-align: left;
  
  

}

.castle {

  width: 60%;



}

.example-one-img {


  width: 60%;




}


.example-two-img {


  width: 60%;


}


.example-three-img {


  width: 60%;




}




.example-four-img {


  width: 60%;



}



.coreone {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.coretwo {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}


.corethree {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}



.Astrology {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.compass {
  
  width: 60%;
  
}

.technicalone {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.technicaltwo {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}


.Tarot {

 
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: double;
  border-radius: 30px;
  background-color:honeydew;
  

}



.spread {

  width: 60%;


}

.Achiever {

  
  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: inset;
  border-radius: 30px;
  background-color:honeydew;
 

}



.number {

  width: 60%;


}


.Evidence {

  margin: 20px 20px 20px 20px;
  padding: 100px 50px 20px 50px;
  border: ridge;
  border-radius: 30px;
  background-color:honeydew;
 
 



}


/* images */



/* text */

p {


font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


h1 {

  font-family: fantasy;


}



h2 h3 h4 {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

li {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

span.scorpio {

  color: cadetblue;

}

.frame {

  text-align: center;
  padding: 20px 20px 20px 20px;


}

  
}






















  
@media screen and (min-width: 1200px) {

 
/* body */

body {
  background-color: #e5f4fd;
  }


/* top */

#Header {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;

}


/* flex */

.flex {
  
  display: flex;
  align-items: baseline;
  flex-direction: column;
  
}

/* Heading */

.flex h1 {


  font-size: 16px;
  text-shadow: 5px 5px 5px rgb(251, 182, 232);
  color:lightskyblue;




}


/* logo */

.logo {

  mix-blend-mode: multiply;

}

/* Navlist */

ul#navlist {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
  min-width: 300px;
  


}

ul#navlist li {

  display: inline;


}

ul#navlist a {

  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}


.navheader {

  border: dotted;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  background-color:honeydew;



}

ul#navlistpages {

  padding: 0px;
  margin: 10px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: left;
  min-width: 300px;
  


}

ul#navlistpages li {

  display: inline;


}

ul#navlistpages a {

  margin-right: 50px;
  padding: 10px 20px 10px 20px;
  border: dotted;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}



/* blocks of text */

.posts {

  min-width: 600px;
  text-align: center;

}

.entries {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  text-align: left;
  
  

}

.castle {

  width: 60%;



}

.example-one-img {


  width: 60%;

}


.example-two-img {


  width: 60%;


}


.example-three-img {


  width: 60%;




}




.example-four-img {


  width: 60%;



}


.coreone {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.coretwo {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}


.corethree {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.Astrology {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}


.compass {
  
  width: 60%;

  
}

.technicalone {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}

.technicaltwo {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: dotted;
  border-radius: 30px;
  background-color:honeydew;
  
  

}




.Tarot {

 
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: double;
  border-radius: 30px;
  background-color:honeydew;
  
 


}



.spread {

  width: 60%;

}

.Achiever {

  
  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: inset;
  border-radius: 30px;
  background-color:honeydew;
 
 

  
}

.number {

  width: 60%;


}


.Evidence {

  margin: 20px 200px 20px 200px;
  padding: 100px 50px 20px 50px;
  border: ridge;
  border-radius: 30px;
  background-color:honeydew;
 
 



}


/* images */



/* text */

p {


font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}


h1 {

  font-family: fantasy;


}



h2 h3 h4 {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

li {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

span.scorpio {

  color: cadetblue;

}

.frame {

  text-align: center;
  padding: 20px 20px 20px 20px;


}




  
}
  
